# ignoring various files and directories
archive/*
ctrl/config.yaml
ctrl/*.xlsx
ctrl/*.png
in/flow/*
in/stage/*
in/nonhand_fim/*
in/nwm_aep/*
logs/*
out/catfim/*
out/stats/*
out/db_calls/*
readme.docx

# vscode settings
.vscode/